---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined 
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %} -->

81. 	Jung I-Y, Song S, Choi M, Yu H and Kim CS. Evolution of mechanically formed bow due to surface waviness and residual stress difference on sapphire (0001) substrate. J Mater Process Technol. 2019;269:102-108. doi:10.1016/J.JMATPROTEC.2019.02.003
80. 	Kim CS, Jeon HG, Jung Y, Choi M, Byungsung O and Kim KH. Observation of surface contamination layer by X-ray reflectometry (XRR) analyses. Surf Interface Anal. 2017. doi:10.1002/sia.6188
79. 	Lee SM, Kim N-W, Jung IY, Kim CS and Yu H. Structural and vibrational properties of Al<inf>2</inf>O<inf>3</inf>under stress. J Nanosci Nanotechnol. 2017. doi:10.1166/jnn.2017.15137
78. 	Song S, Kim D, Jang HM, Yeo BC, Han SS, Kim CS and Scott JF.  β-CuGaO2 as a Strong Candidate Material for Efficient Ferroelectric Photovoltaics. Chem Mater. 2017. doi:10.1021/acs.chemmater.7b03141
77. 	Park SJ, Lee JP, Jang JS, Rhu H, Yu H, You BY, Kim CS, Kim KJ, Cho YJ, Baik S and Lee W. In situ control of oxygen vacancies in TiO 2 by atomic layer deposition for resistive switching devices. Nanotechnology. 2013. doi:10.1088/0957-4484/24/29/295202
