    <!-- {% for lang in site.data.languages.supported_languages %}
    <button class="lang-btn" data-lang="{{ lang.code }}" 
            {% if lang.code == site.data.languages.default_language %}aria-pressed="true"{% endif %}>
      {{ lang.flag }}
      {{ lang.name }}
    
    {% endfor %} -->

    {% for lang in site.data.languages.supported_languages %}
    <button class="lang-text-btn" data-lang="{{ lang.code }}"
            {% if lang.code == site.data.languages.default_language %}aria-pressed="true"{% endif %}>
      {{ lang.code | upcase }}
    
    {% if forloop.last == false %} | {% endif %}
    {% endfor %}